<!doctype html>
<html ng-app="logglyLogger.demo">
  <head>

  </head>
  <body ng-controller="MainCtrl">

    <p>
      Make sure you edit demo/app.js, and add a valid inputToken to the "logglyInputToken" constant's value.!
    </p>

    <form name="form" novalidate>
      <p>
        <label>Message to send:</label><br/>
        <input ng-model="message" required/>
      </p>

      <p>
        <label>JSON fields to add:</label>
        <input ng-model="extra"/>
        <button ng-click="updateExtra()">Update Fields</button>
      </p>

      <button ng-click="logIt()" ng-disabled="form.$invalid">Log It!</button>
      <button ng-click="megaLogIt()" ng-disabled="form.$invalid">Mega Log It!</button>

    </form>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../angular-loggly-logger.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
